@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap');
.header {
    font-family: lobster Two;
    font-weight: 400;
    font-size: 5rem;
    text-align: center;
    padding: 0.7rem;
    background-color: #FFF9EE;
    width: 100%;
}